<app-header></app-header>

<main class="app-main container">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<!-- Botão flutuante do WhatsApp -->
<a href="https://wa.me/5511984109502?text=Ol%C3%A1!%20Me%20chamo%20%5BSeu%20Nome%5D%20e%20gostaria%20de%20solicitar%20um%20or%C3%A7amento%20na%20DLima%20Estruturas%20Met%C3%A1licas.%20Poderia%20me%20ajudar%3F" target="_blank" rel="noopener noreferrer" class="whatsapp-float" aria-label="WhatsApp">
  <i class="bi bi-whatsapp"></i>
</a>