<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-header">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/logo.svg" alt="DLima Estruturas Metálicas" class="img-fluid rounded d-inline-block align-text-top" style="width: 250px; object-fit: cover;">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isMenuOpen" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-light" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/" fragment="servicos">Serviços</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/" fragment="sobre">Sobre</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/" fragment="galeria">Galeria</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/" fragment="contato">Contato</a></li>

      </ul>
      <div class="ms-lg-3 mt-3 mt-lg-0">
        <a routerLink="/orcamento" class="btn btn-header-orcamento btn-lg px-4">
          <i class="bi bi-whatsapp me-2"></i>
          Solicite um orçamento
        </a>
      </div>
    </div>
  </div>
</nav>