<footer class="text-light pt-5 pb-3">
  <div class="container">
    <div class="row">
      <!-- Logo e descrição -->
      <div class="col-md-4 mb-4">
        <img src="assets/img/logo.svg" width="250" height="86" loading="lazy" decoding="async" alt="Logotipo da D Lima Estruturas Metálicas" class="img-fluid rounded d-inline-block align-text-top mb-3" style="width: 250px; object-fit: cover;">
        <p>D Lima Estruturas Metálicas: soluções que transformam seu projeto em realidade.</p>
      </div>
      <!-- Links Rápidos -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Links Rápidos</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" fragment="servicos" class="footer-link">Serviços</a></li>
          <li><a routerLink="/" fragment="galeria" class="footer-link">Galeria</a></li>
          <li><a routerLink="/" fragment="sobre" class="footer-link">Sobre Nós</a></li>
          <li><a routerLink="/" fragment="contato" class="footer-link">Contato</a></li>
        </ul>
      </div>
      <!-- Contato -->
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Contato</h5>
        <ul class="list-unstyled mb-3">
          <li>
            Email:
            <a href="mailto:dlimaestruturasmetalicas@gmail.com" class="footer-link">
              dlimaestruturasmetalicas&#64;gmail.com
            </a>
          </li>
          <li>
            Telefone:
            <a href="tel:+5511984109502" class="footer-link">
              +55 (11) 98410-9502
            </a>
          </li>
          <li>
            Endereço:
            <a href="https://www.google.com/maps/search/?api=1&query=Rua+Ant%C3%B4nio+de+Fran%C3%A7a+e+Silva,+62+-+Jardim+Adutora,+S%C3%A3o+Paulo+-+SP" target="_blank" rel="noopener noreferrer" class="footer-link">
              Rua Antonio de franca e silva 62, Jd Adutora - Sao Paulo/SP
            </a>
          </li>
        </ul>
        <div class="d-flex gap-3">
          <a href="https://www.instagram.com/dlima_estruturasmetalicas/" target="_blank" rel="noopener noreferrer" class="footer-link fs-4">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://wa.me/5511984109502?text=Ol%C3%A1!%20Me%20chamo%20%5BSeu%20Nome%5D%20e%20gostaria%20de%20solicitar%20um%20or%C3%A7amento%20na%20DLima%20Estruturas%20Met%C3%A1licas.%20Poderia%20me%20ajudar%3F" target="_blank" rel="noopener noreferrer" class="footer-link fs-4">
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="text-center border-top border-light mt-4 pt-3">
      <p class="mb-0">&copy; {{ currentYear }} D Lima Estruturas Metálicas. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>